@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  }

  .dropdownprofile{
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    width: 150px;
    padding: 15px;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: 1px solid grey;
   
   }
   
   .dropdownprofile::before{
       content: "";
       position: absolute;
       top:-0.6rem;
       width: 15px;
       right:2.0rem;
       height: 18px;
       transform: rotate(45deg);
       background-color: black;
       opacity: 0.8;
       border-left: 1px solid grey;
       border-top: 1px solid grey;
   }
   
   .btn-profile{
     transition-property: transform;
     transition-duration: 0.4s;
     transition-delay: 0.1s;
     color: beige;
     font-size: 12px;
   }
   
   .profile:hover .btn-profile{
       transform: rotate(180deg);
   }
   
   .dropdownprofile ul li:hover{
       text-decoration: underline;
   }